{template 'common/header'}

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">管理消息</a></li>
        <!--
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <!--列表循环开始-->	
            <div class="panel panel-default">
                <div class="panel-heading">管理消息</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        {template 'web/banner/chat'}
                        <tbody>
                            {loop $chat $key $chat}
                            {template 'web/page/chat_list'}
                            {/loop}
                        </tbody>
                    </table>{$pagination}
                </div>
            </div>
            <!--列表循环结束-->

        </div>
        <!--
    <div role="tabpanel" class="tab-pane" id="profile">...</div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
        -->
    </div>

</div>

{template 'common/footer'}