{template 'common/header'}
<link rel="stylesheet" type="text/css" href="{MODULE_URL}template/web/public.css">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a class="tablink" data-itemv="0" href="#home" role="tab" data-toggle="tab">所有照片</a></li>
    <li role="presentation"><a class="tablink" data-itemv="3" href="#profile" role="tab" data-toggle="tab">已显示照片</a></li>
    <li role="presentation"><a class="tablink" data-itemv="2" href="#messages" role="tab" data-toggle="tab">待审核照片</a></li>
    <li role="presentation"><a class="tablink" data-itemv="1" href="#settings" role="tab" data-toggle="tab">已屏蔽照片</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <!--列表循环开始-->
        <div class="panel panel-default">
            <div class="panel-heading">所有照片</div>
            <div class="panel-body">
                {loop $picture0 $key $picture}
                {template 'web/page/picture_list'}
                {/loop}
            </div>{$pagination_0}
        </div>
        <!--列表循环结束-->
    </div>


    <div role="tabpanel" class="tab-pane" id="profile">
        <!--列表循环开始-->
        <div class="panel panel-default">
            <div class="panel-heading">已显示照片</div>
            <div class="panel-body">
                <table class="table table-hover">
                    {template 'web/banner/picture'}
                    <tbody>
                        {loop $picture3 $key $picture}
                        {template 'web/page/picture_list'}
                        {/loop}
                    </tbody>
                </table>{$pagination_3}
            </div>
        </div>
        <!--列表循环结束-->
    </div>
    
    <div role="tabpanel" class="tab-pane" id="messages">
        <!--列表循环开始-->
        <div class="panel panel-default">
            <div class="panel-heading">待审核照片</div>
            <div class="panel-body">
                <table class="table table-hover">
                    {template 'web/banner/picture'}
                    <tbody>
                        {loop $picture2 $key $picture}
                        {template 'web/page/picture_list'}
                        {/loop}
                    </tbody>
                </table>{$pagination_2}
            </div>
        </div>
        <!--列表循环结束-->
    </div>


    <div role="tabpanel" class="tab-pane" id="settings">
        <!--列表循环开始-->
        <div class="panel panel-default">
            <div class="panel-heading">已屏蔽照片</div>
            <div class="panel-body">
                <table class="table table-hover">
                    {template 'web/banner/picture'}
                    <tbody>
                        {loop $picture1 $key $picture}
                        {template 'web/page/picture_list'}
                        {/loop}
                    </tbody>
                </table>{$pagination_1}
            </div>
        </div>
        <!--列表循环结束-->
    </div>
</div>

<script type="text/javascript">
    var flag = 0;
    $('.tablink').click(function() {
        if (flag == 1) {
            return;
        }
        flag = 1;
        if (flag == 1) {
            var post_v = $(this).attr('data-itemv');
            $.ajax({
                url: '{php echo $this->createWebUrl('setpageparam');}',
                type: 'post',
                dataType: 'text',
                data: {set_page_param:post_v},
                success:function(data){
                    flag = 0;
                }                
            });            
        }
    });
    $("a[data-itemv$='{$hit_tab}']").click();
</script>
{template 'common/footer'}