<div class="welcome-container">
    <div class="welcome-container">
        <div class="panel we7-panel account-stat">
            <div class="panel-heading">
                今日订单统计
            </div>
            <div class="panel-body we7-padding-vertical">
                <div class="col-sm-3 text-center">
                    <div class="title">今天订单总额</div>
                    <div>
                        <span class="yesterday" ng-init="0" ng-bind="fans_kpi.yesterday.cancel">{$today_total['money']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">成功金额</div>
                    <div>
                        <span class="today" ng-init="0" ng-bind="fans_kpi.today.new">{$today_success['money']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">订单总数</div>
                    <div>
                        <span class="yesterday" ng-init="0" ng-bind="fans_kpi.yesterday.cancel">{$today_total['num']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">成功总数</div>
                    <div>
                        <span class="today" ng-init="0" ng-bind="fans_kpi.today.jing_num">{$today_success['num']}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="welcome-container">
    <div class="welcome-container">
        <div class="panel we7-panel account-stat">
            <div class="panel-heading">
                昨日日订单统计
            </div>
            <div class="panel-body we7-padding-vertical">
                <div class="col-sm-3 text-center">
                    <div class="title">昨日订单总额</div>
                    <div>
                        <span class="yesterday" ng-init="0" ng-bind="fans_kpi.yesterday.cancel">{$yd_total['money']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">成功金额</div>
                    <div>
                        <span class="today" ng-init="0" ng-bind="fans_kpi.today.new">{$yd_success['money']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">订单总数</div>
                    <div>
                        <span class="yesterday" ng-init="0" ng-bind="fans_kpi.yesterday.cancel">{$yd_total['num']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">成功总数</div>
                    <div>
                        <span class="today" ng-init="0" ng-bind="fans_kpi.today.jing_num">{$yd_success['num']}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="welcome-container">
    <div class="welcome-container">
        <div class="panel we7-panel account-stat">
            <div class="panel-heading">
                近七日日订单统计
            </div>
            <div class="panel-body we7-padding-vertical">
                <div class="col-sm-3 text-center">
                    <div class="title">订单总额</div>
                    <div>
                        <span class="yesterday" ng-init="0" ng-bind="fans_kpi.yesterday.cancel">{$seven_total['money']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">成功金额</div>
                    <div>
                        <span class="today" ng-init="0" ng-bind="fans_kpi.today.new">{$seven_success['money']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">订单总数</div>
                    <div>
                        <span class="yesterday" ng-init="0" ng-bind="fans_kpi.yesterday.cancel">{$seven_total['num']}</span>
                    </div>
                </div>
                <div class="col-sm-3 text-center">
                    <div class="title">成功总数</div>
                    <div>
                        <span class="today" ng-init="0" ng-bind="fans_kpi.today.jing_num">{$seven_success['num']}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>