<tr>

<td>{$share['share_id']}</td>


<td><img style="width:60px;height:60px;border-radius:50%;" src="{php echo getavatar($_W['uniacid'],$share['openid']);}"/></td>
<td>{php echo getnickname($_W['uniacid'],$share['openid']);}</td>


<td><img style="width:60px;height:60px;border-radius:50%;" src="{php echo getavatar($_W['uniacid'],$share['share_openid']);}"/></td>


<td>{php echo getnickname($_W['uniacid'],$share['share_openid']);}</td>




<td>
{php echo date('Y-m-d H:i:s',$share['share_time']);}<br/>
{$share['share_ip']}<br/>
{$share['share_container']}<br/>
{$share['share_os']}
</td>



</tr>