{template 'header'}
 <link rel="stylesheet" type="text/css" href="{MODULE_URL}template/mobile/style/liaodou.css">

<!--顶部菜单导航开始-->
{php echo topmenu($this->createMobileUrl('liaotian',array('openid'=>$_GPC['openid'])),$make['make_jinbi_name'].'套餐','touming.png');}
<!--顶部菜单导航结束-->



<div id="liaodou_one">您当前的{$make['make_jinbi_name']}：{$user['user_jinbi']}</div>

<a href="{php echo $this->createMobileUrl('chongzhi');}">
<div id="liaodou_two">+充值{$make['make_jinbi_name']}+</div>
</a>

<form action="" method="POST">

<div id="liaodou_input_one">
<select name="taocan_id">
{loop $taocan $key $taocan}
<option value="{$taocan['taocan_id']}">{$taocan['taocan_liaotian_jinbi']}{$make['make_jinbi_name']}，可与{$taocan['taocan_liaotian_person']}位异性免费畅聊{$taocan['taocan_liaotian_time']}天</option>
{/loop}
</select>
</div>

<div id="liaodou_ok">
<input type="submit" name="submit" value="确认开通"/>
</div>

<input type="hidden" name="token" value="{$_W['token']}"/>


</form>
{template 'foot'}