、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、、


<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/app/util.js"></script>
<script src="{$_W['siteroot']}app/resource/js/require.js"></script>
<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{$_W['siteroot']}app/resource/js/lib/mui.min.js"></script>
<link href="{$_W['siteroot']}app/resource/css/common.min.css" rel="stylesheet">

{php echo tpl_app_form_field_district('address', array('province' => $address['province'],'city' => $address['city'],'district' => $address['district']));}


